@{
    ViewData["Title"] = "Customer Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <h2>Customer support information</h2>
    <h3>Email</h3>
    <p>tigertixsupport@clemson.edu</p>
    <h3>Phone Number</h3>
    <p>(864) TIC-KETS or (864) 842-5387</p>
</div>
