@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Explore Events and Tickets</h2>
    <p>It was always the Monday mornings. It never seemed to happen on Tuesday morning, Wednesday morning, or any other
        morning during the week. But it happened every Monday morning like clockwork. He mentally prepared himself to
        once again deal with what was about to happen, but this time he also placed a knife in his pocket just in case.
        He was aware there were numerous wonders of this world including the unexplained creations of humankind that
        showed the wonder of our ingenuity. There are huge heads on Easter Island. There are the Egyptian pyramids.
        There’s Stonehenge. But he now stood in front of a newly discovered monument that simply didn't make any sense
        and he wondered how he was ever going to be able to explain it.
        "Explain to me again why I shouldn't cheat?" he asked. "All the others do and nobody ever gets punished for
        doing so. I should go about being happy losing to cheaters because I know that I don't? That's what you're
        telling me?"
        The irony of the situation hadn't escaped her. She had taken years to sculpt the perfect persona with the
        perfect look that she shared on Instagram. She knew her hundreds of thousands of followers envied that life she
        showed and stayed engaged with her because they wanted that life too. The truth was that she wanted the perfect
        life she portrayed more than any of her fans. The fact was that despite all the perfection she shared on social
        media, her life was actually more of a mess than most.
        She's asked the question so many times that she barely listened to the answers anymore. The answers were always
        the same. Well, not exactly the same, but the same in a general sense. A more accurate description was the
        answers never surprised her. So, she asked for the 10,000th time, "What's your favorite animal?" But this time
        was different. When she heard the young boy's answer, she wondered if she had heard him correctly.
        He scolded himself for being so tentative. He knew he shouldn't be so cautious, but there was a sixth sense
        telling him that things weren't exactly as they appeared. It was that weird chill that rolls up your neck and
        makes the hair stand on end. He knew that being so tentative could end up costing him the job, but he learned
        that listening to his sixth sense usually kept him from getting into a lot of trouble.
        Puppies are soft, cute, funny, and make a big mess. Every month or two our family fosters 6-12 week old puppies
        for a puppy rescue nonprofit organization. We all enjoy cuddling their furry bodies after a clean bath. Fresh
        puppy smell is great. The puppies play with each other and our adult dog. They look so funny when they lay on
        top of each other and sleep. While puppies can be great fun, they also can make big messes. 4-6 puppies can make
        a lot of puppy pee and poop. It's a challenge to keep the puppies and the puppy pen clean.
        "It was so great to hear from you today and it was such weird timing," he said. "This is going to sound funny
        and a little strange, but you were in a dream I had just a couple of days ago. I'd love to get together and tell
        you about it if you're up for a cup of coffee," he continued, laying the trap he'd been planning for years.
        Stormi is a dog. She is dark grey and has long legs. Her eyes are expressive and are able to let her humans know
        what she is thinking. Her tongue is long, pink, and wet. Her long legs allow her to sprint after other dogs,
        people or bunnies. She can be a good dog, but also very bad. Her tail wags when happy or excited and hides
        between her back legs when she is bad. Stormi is a dog I love.
        The day had begun on a bright note. The sun finally peeked through the rain for the first time in a week, and
        the birds were singing in its warmth. There was no way to anticipate what was about to happen. It was a
        worst-case scenario and there was no way out of it.</p>
</div>
