<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
        <title>TigerTix: @ViewBag.Title</title>

        <!-- CSS -->
        <link rel="stylesheet" href="~/CSS/account.css">

    </head>
    <body>
        <header>
            <a href="~/account" class="home"><h1>Your Account Page</h1></a>
            <nav>
                <a href="~/app/events">Events</a>
                <a href ="~/app/customerservice">Customer Service</a>
                <a href="~/account/profile">Profile</a>
                <a href="~/account/#settings">Settings</a>
                <a href="~/account/#tickets">My Tickets</a>
                <a href="~/account/#logout">Logout</a>
            </nav>
        </header>

        
        <div class="main">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; 2024 TigerTix.</p>
        </footer>
    </body>
</html>
