body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0px;
}

header {
    background-color: #6a1b9a;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    padding: 10px 16px; 
    width: auto;
}

a.home {
    color: white;
    text-decoration: none;
}

nav {
    background-color: #f57c00;
    border-radius: 5px;
    height:20px; 
    padding: 10px;
    text-align: center;
}

nav a {
    background-color: #f57c00;
    border-radius: 5px;
    transition: background-color 0.25s; 
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
}

nav a:hover {
    background-color: rgba(25,25,25,0.5);
    transition: background-color 0.5s; 
}

footer {
    background-color: #424242;
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.content {
    margin: 20px;
}

.event-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s;
    text-align: left;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-title {
    font-size: 1.5em;
    color: #6a1b9a;
}

.event-details {
    margin-top: 10px;
    color: #424242;
}

.event-link {
    color: #f57c00;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}